p {  /* teg selektor*/ 
    /* color: green; --word*/ 
    /* color: rgb(240, 67, 8); --rgb*/
    /* color: rgba(54, 35, 481, 0.1) --rgba*/
    color: #4A8F3C; 
    font-size: 20px;
}
#paragraf  /* id selector*/
 {
color: blueviolet;
font-size: 16px;
}
.red-text  /* class selector*/
{
   color:red; 
}
#heding {
    color: aqua;
    font-size: 50px;
}
h1, h2, h3 {
font-size: 100px;
}
