

.post {
    margin: 0 auto;
    background-color: aqua;
    width: 700px;
    height: 800px;
}
.div1 {
    position: fixed;
    top:0;
    background-color: rgb(165, 145, 175);
  width: 100px;
  height: 100px; 
}

.div2 {
  position: fixed;
  top:0;
  right: 125px;
  background-color: rgb(67, 233, 81);
  width: 100px;
  height: 100px;
}

.div3 {
    position: fixed;
  bottom: 0;
  background-color: rgb(209, 90, 139);
  width: 100px;
  height: 100px;
}
.div4 {
    position: fixed;
    bottom: 0;
    right: 125px;
    background-color: rgb(104, 218, 142);
    width: 100px;
    height: 100px;
}
